.page-margin{
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.button-right-position{
  position: absolute;
  margin-right: 16px;
  right: 0;
  top: 30%;

.card-title{
  margin-top: 16px;
  margin-left: 16px;
}

}
