.content-body{

  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-bottom{
  background: #363636;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
}

.no-result-text{
  margin-left: 20px;
  margin-top: 20px;

}
