.spacer {
  flex: 1 1 auto;
}

.mat-tab-padding{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  overflow-y: hidden;
}

.top-margin-content{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: hidden;
}

.form-field-width {
  width: 40% !important;
}
@media only screen and (max-width: 900px) {
  .form-field-width {
    width: 100% !important;
  }
}

.form-field-margin1{
  margin-bottom: 30px;
}
.form-field-margin2{
  margin-bottom: 15px;
}
