<div class="page-margin" style="height: 100%">
    <div style="display: flex; align-items: center">

        <h2 style="margin-bottom: 20px; margin-left: 10px;">Copies</h2>
        <app-search-bar style="margin-left: 40px;" placeholder="Type in book title" inputType="text" (searchQueryChanged)="searchBooks($event)" (searchSubmit)="searchBooksSubmit($event)" [autocompleteRef]="auto"></app-search-bar>
        <button *ngIf="selectedBook" style="margin-bottom: 15px; margin-left: 5px;" mat-icon-button matTooltip="Create copy" color="primary" (click)="createCopy()">
          <mat-icon>add_circle</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let book of bookResults" [value]="book.title" (click)="selectBook(book)">
                {{ book.title }}
            </mat-option>
        </mat-autocomplete>
    </div>
    <div class="scrollable-content" style="height: 71% ; margin-right: -15px">
        <ng-container *ngFor="let copy of copies">
            <mat-card [ngSwitch]="copy.bookCondition.toString()" class="scale-on-hover" style="margin-top: 2px; margin-right: 3px">
                <mat-card-header>
                    <mat-card-title>{{"#" + copy.id +" " + copy.book.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p *ngSwitchCase="CopyCondition[CopyCondition.AVAILABLE]" class="text-green-bold">{{copy.bookCondition.toString()}}</p>
                    <p *ngSwitchCase="CopyCondition[CopyCondition.BORROWED]" class="text-primary-bold">{{copy.bookCondition.toString()}}</p>
                    <p *ngSwitchDefault class="text-red-bold">{{copy.bookCondition.toString()}}</p>
                    <div *ngSwitchCase="CopyCondition[CopyCondition.AVAILABLE] " style="position: absolute; top: 5px; right: 5px; display: flex; align-items: center;">
                        <button matTooltip="Create loan" color="primary" mat-icon-button (click)="createLoan(copy)">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                        <button matTooltip="Eliminate copy" color="primary" mat-icon-button (click)="eliminateCopy(copy)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <ng-template *ngSwitchDefault>
                        <div style="position: absolute; top: 5px; right: 5px; display: flex; align-items: center;">

                        </div>
                    </ng-template>
                </mat-card-content>

            </mat-card>

        </ng-container>
    </div>

</div>
