<mat-toolbar color="primary">
  <button mat-button (click)="onLogoClick()"><span class="logo"><span style="color: black">Web</span><span>Lib</span></span></button>
  <div class="spacer"></div>
  <div class="search-bar-margin">
    <mat-form-field class="search-bar">
      <input matInput placeholder="Search books" [(ngModel)]="searchInputValue" (keydown.enter)="onEnter()" [matAutocomplete]="auto" [formControl]="searchControl">
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="showBookDetail($event)">
        <mat-option *ngFor="let book of filteredBooks$ | async" [value]="book" [innerHTML]="displayBook(book)"></mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="spacer"></div>
  <button matTooltip="Login" (click)="router.navigate(['/login'])" mat-icon-button class="person-icon" *ngIf="(this.authService.isTokenValid() | async) === false">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="(this.authService.isTokenValid() | async) === true">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button class="menu-button" mat-menu-item *ngIf="this.authService.getUserRole() === UserRole.MEMBER" (click)="router.navigate(['/loans'])">Loans</button>
    <button class="menu-button" mat-menu-item *ngIf="this.authService.getUserRole() === UserRole.MEMBER" (click)="router.navigate(['/reservations'])">Reservations</button>
    <hr>
    <button class="menu-button" mat-menu-item (click)="this.authService.logout()"><span class="text-primary-bold">Logout</span></button>
  </mat-menu>
</mat-toolbar>
