.logo {
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 2px;
}

button{
  padding: 15px 20px;
}

.spacer {
  flex: 1 1 auto;
}

.search-bar {
  width: 100%;
}

.search-bar-margin{
  margin-top: 20px;
  width: 60%;
}

.person-icon {
  margin-left: 20px;
}

.menu-button{
  padding: 1px 16px;
}

.search-result-body{
  padding-top: 2px;
  padding-bottom: 2px;
}

.search-result-title-size{
  font-size: large;
}

