<mat-card style="margin-bottom: 1px">

  <mat-card-header>
    <mat-card-title class="text-primary-hover" (click)="navigateToBook(loan.copy.book!)">{{loan.copy.book.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngFor="let author of loan.copy.book.authors">
      <span class="text-primary-hover" (click)="navigateToBooksOfAuthor(author.name)">{{author.name}}</span>
    </ng-container>
    <ng-container *ngIf="loan.actualReturnDate !== null; else scheduledText">
      <p>Date of return: {{ loan.actualReturnDate | date: 'dd. MM. yyyy' }}</p>
    </ng-container>
    <ng-template #scheduledText>
      <p>Return deadline: <span class="{{isPastScheduledReturnDate() ? 'text-red-bold' : ''}}" >{{ loan.scheduledReturnDate | date:'dd. MM. yyyy' }}</span></p>
    </ng-template>

  </mat-card-content>

</mat-card>
