.stars-content{
    display: inline-block;
    background-clip: text !important;
}

.stars-content::content{
    color: transparent;
}
.mat-icon{
    width: 20%;
}

.text-grey{
    color: #a8a8a8;
    position: relative;
    top: -5px;
    margin-left: 5px;
}
